DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/technorent"
JWT_SECRET="generate-with-openssl-rand-base64-32"
ADMIN_EMAIL="admin"
ADMIN_PASSWORD="your-secure-password"
PORT=3001
CLIENT_URL="http://localhost:5173"
SITE_URL="https://technorent.ua"
NODE_ENV="development"

# Docker only
DB_PASSWORD="your-db-password"
